@font-face {
    font-family: "Open Sans";
    src: url("https://g1.nyt.com/fonts/css/web-fonts.5810def60210a2fa7d0848f37e3fa048bb6147b1.css");
}  

body {
  margin: 0;
  padding: 0;
  font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
  font-size: 14px;
}

.main-header {
  display: grid;
  grid-template-columns: auto auto;
  border: 1px solid red;
}

.main-header > div {
  border: 1px solid blue;
}

.second-header {
  display: grid;
  grid-template-columns: 80% 20%;
  border: 1px solid red;
}

.second-header > div {
  border: 1px solid blue;
}

.main-header-img {
  display: grid;
  grid-template-columns: 70% 30%;
  border: 1px solid red;
  padding: 0;
  margin: 0;
}

.main-header-img img {
 width: 100%;
 height: 100%;
}

.main-header-img > div {
  border: 1px solid blue;  
  padding: 0; 
}

.main-img-1 {
grid-row: 1 / 3;
}

.latest-news,
.latest-fund-round{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  margin-top: 50px;
}

.latest-news h2,
.latest-fund-round-header {
    margin-left: 10%;
    margin-right: 10%;
}

.latest-news > div,
.latest-fund-round > div {
  border: 1px solid blue;
}

.latest-news-item,
.latest-fund-round-item {
  display: grid;
  grid-template-columns: auto auto auto auto;
  border: 1px solid red;
  margin-left: 10%;
  margin-right: 10%;
}

.latest-news-item > div,
.latest-fund-round-item > div {
  border: 1px solid blue;
  margin-right: 10px;
}

.latest-news-item img,
.latest-fund-round-item img,
.popular-news img {
  width: 100%;
  height: 100%;
  border: 1px solid blue;
}

.latest-fund-round-header {
  display: grid;
  grid-template-columns: auto auto;
}

.popular-news {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 1px solid red;
  padding-left: 10%;
  padding-right: 10%;
}

.popular-news-items {
  border: 1px solid blue;
  margin-top: 100px;
  margin-right: 10px;
}

.popular-news-items img {
  width: 368px;
  height: 276px;
}

.popular-news-items-img {
  position: relative;
}

.popular-news-items-img-desc {
  position: absolute;
  bottom: 0%;
  left: 5%;
  color: white;
}

.popular-news-items-img-desc h3 {
 margin: 0;
}

.popular-news-items-img-desc h5 {
    font-size: 12px;
}

.popular-news-items-img-desc h3 a {
text-decoration: none;
color: white;
}

@media screen and (min-width: 1024px)
body:after {
    content: "s";
}

@media screen and (min-width: 768px)
body:after {
    content: "m";
}

@media screen and (min-width: 480px)
body:after {
    content: "s";
}
