@font-face {
  font-family: "Open Sans";
  src: url("https://g1.nyt.com/fonts/css/web-fonts.5810def60210a2fa7d0848f37e3fa048bb6147b1.css");
}

html, body, main{
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  min-width: fit-content;
}

.nav1 {
  min-width: 100%;
  max-width: 100%;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

.bottom-left-nav1 a {
  color: gray;
}

.popular-news-items-img-desc h3 a {
  text-decoration: none;
  color: white;
}

.bottom-left-nav ul li a {
  color: gray;
}

.top-left-nav ul li a {
  text-decoration: none;
  list-style: none;
  color: white;
}

.top-nav a:hover {
  background-color: silver;
  padding: 10px;
}

.nav1 {
  width: 100%;
  height: 30px;
  background-color: rgb(235, 201, 8);
  margin: 0;
  padding: 0;
}

.right-icon li {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  padding: 20px;
  list-style: none;
}

.bottom-left-nav ul {
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 50px;
  color: gray;
}

.bottom-left-nav1 ul {
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: -10px;
  z-index: 11;
}

.top-right-nav ul {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
}

.top-left-nav ul {
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
}

.fig ul {
  background-color: black;
  position: absolute;
  top: 30px;
  display: none;
  color: white;
}

.top-left-nav ul ul {
  position: absolute;
  top: 25px;
  background-color: black;
  z-index: 22;
  display: none;
}

.top-footer li {
  list-style: none;
  display: inline;
  padding-right: 15px;
  color: white;
}

.right-icon1 li {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  padding: 20px;
  list-style: none;
}

.funding-right ul li {
  padding-right: 10px;
  padding-left: 10px;
  white-space: nowrap;
  list-style: none;
  display: inline;
}

.bottom-left-nav ul li {
  padding: 15px;
  list-style: none;
  color: gray;
}

.bottom-left-nav1 ul li {
  padding: 15px;
  list-style: none;
}

.top-right-nav ul li {
  padding: 10px;
  list-style: none;
}

.top-left-nav ul li {
  padding: 7px;
  list-style: none;
  position: relative;
}

.fig ul li {
  padding: 10px;
  padding-left: -20px;
  list-style: none;
}

.top-left-nav ul ul li {
  margin-left: -10px;
}

.popular-news-items div ul {
  margin: 0;
  padding: 10px;
}

.fig:hover > ul {
  display: block;
}

.top-left-nav ul li:hover > ul {
  display: block;
  width: 200px;
  height: 100px;
}

.popular-news-items div ul li {
  border-bottom: 1px solid #e6e0e0;
  padding: 13px 0 0 0;
  font-size: 12px;
  list-style: none;
}

.fig ul li:hover {
  background-color: gray;
  border-radius: 20%;
}

.top-nav {
  background-color: black;
  height: 30px;
  color: white;
}

.top-left-nav {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 800px;
}

.top-right-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 800px;
}

/* Second Navbar */

.nav2 {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 50px;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  z-index: 9;
}

.bottom-left-nav1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 800px;
}

.right-icon1 {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding-bottom: 10px;
  width: 800px;
}

.nav3 {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  z-index: 8;
}

.fig {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 50px;
  color: black;
  margin: 0;
  padding: 0;
  background-color: black;
  z-index: 8;
}

.fig img {
  padding: 15px;
  width: 80px;
}

.bottom-left-nav {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 800px;
}

.right-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 800px;
}

.fig1 {
  display: none;
}

.right-icon .menu-icon11 {
  display: none;
}

@media (max-width: 1024px) {
  .bottom-nav1 .bottom-left-nav1 {
    margin-left: 60px;
  }
  html, body, main{
    margin: 0;
    padding: 0;
    min-width: 100%;
  }

  .top-left-nav ul {
    padding-left: 100px;
  }

  .fig1 {
    display: block;
  }

  .fig img {
    padding-bottom: 60px;
    margin-top: -15px;
  }

  .nav3 .fig img {
    padding-top: 25px;
  }
}

@media (max-width: 784px) {
  .top-right-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  
  .nav1 {
    display: none;
  }

  .nav2 {
    display: none;
  }

  .bottom-left-nav {
    display: none;
  }

  .right-icon .menu-icon11 {
    display: block;
  }

  .search-icon {
    margin-right: 40px;
    margin-top: -50px;
  }
}

.flex-containar-1 {
  margin-top: 0;
  margin-right: 5px;
  margin-left: 5px;
}

.main1-grid-cont {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.grid-class {
  display: grid;
  grid-template-rows: 25% 10% 45% 20%;
  grid-template-areas:
    "top1"
    "top2"
    "top3"
    "top4";
}

.box1 {
  background-image: linear-gradient(to bottom, rgb(204, 83, 83), rgba(117, 19, 93, 0.73)), url(./img/1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  grid-area: 1/1/3/3;
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

.logo-inside-grid {
  grid-area: top1;
  width: 350px;
  height: 200px;
  margin-left: 20px;
  margin-top: -30px;
  transition: 0.4s ease;
}

.small-text {
  color: white;
  grid-area: top2;
  padding-left: 10px;
}

.small-text1 {
  position: absolute;
  top: 25px;
}

.small-text3 {
  position: absolute;
  top: -55px;
}

.big-text {
  grid-area: top3;
  font-size: 1.3rem;
  color: white;
  max-width: 800px;
  height: 70px;
  margin-top: -20px;
  padding-left: 10px;
  padding-right: 10px;
}

.big-text2 {
  position: absolute;
  bottom: 20px;
}

.big-text3 {
  font-size: 1.2rem;
  position: absolute;
  bottom: 30px;
}

.time1 {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
}

.time2 {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
}

.time3 {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
}

.box2 {
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), rgba(0, 0, 0, 0.25) url(./img/2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  grid-area: 1/3/2/4;
  max-width: 100%;
  height: auto;
  position: relative;
}

.box3 {
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), rgba(0, 0, 0, 0.25) url(./img/3.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  position: relative;
}

.box-1-grid {
  background-image: url(./img/3.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  grid-area: 1/1/3/5;
}

@media (max-width: 1024px) {
  .box1 {
    background-image: linear-gradient(to bottom, rgb(163, 115, 115), rgba(185, 100, 164, 0.73)), url(./img/1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    grid-area: 1/1/3/3;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
  }

  .big-text {
    grid-area: top3;
    font-size: 1.1rem;
    color: white;
    max-width: 800px;
    height: 70px;
    margin-top: -20px;
  }
}

@media (max-width: 768px) {
  .time2 {
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
  }

  .time3 {
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
  }

  .main1-grid-cont {
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
  }

  .box1 {
    background-image: linear-gradient(to bottom, rgb(204, 83, 83), rgba(117, 19, 93, 0.73)), url(./img/1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    grid-area: 1/1/2/2;
    max-width: 100%;
    height: 300px;
    position: relative;
    z-index: 2;
  }

  .box2 {
    background: linear-gradient(to bottom, rgba(153, 221, 130, 0.52), rgba(99, 224, 151, 0.73)), rgba(0, 0, 0, 0.25) url(./img/2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    grid-area: 2/1/3/2;
    max-width: 100%;
    height: 300px;
  }

  .box3 {
    background: linear-gradient(to bottom, rgba(78, 105, 116, 0.52), rgba(117, 19, 93, 0.73)), rgba(204, 142, 142, 0.25) url(./img/3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    grid-area: 3/1/4/2;
    max-width: 100%;
    height: 300px;
  }

  .grid-class {
    display: grid;
    grid-template-rows: 25% 10% 45% 20%;
    grid-template-areas:
      "top1"
      "top2"
      "top3"
      "top4";
  }

  .small-text1 {
    position: absolute;
    top: 50px;
  }

  .big-text1 {
    position: absolute;
    top: 80px;
  }

  .big-text2 {
    position: absolute;
    font-size: 1.5rem;
    top: 80px;
  }

  .big-text3 {
    font-size: 1.5rem;
    position: absolute;
    top: 100px;
  }

  .small-text3 {
    position: absolute;
    top: 70px;
  }
}

/* Latest New  */

.main-flex {
  justify-content: center;
}

.main1-header {
  text-align: center;
  margin-right: 1100px;
  color: #f42;
  margin-left: 10%;
}

.header-flex {
  white-space: nowrap;
}

.main-heade-deals {
  text-align: center;
  margin-right: 1100px;
  color: #f42;
  margin-top: 30px;
}

.main2-grid-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 1330px;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid-boxes {
  max-width: 300px;
}

.image-box {
  max-width: 100%;
  height: auto;
}

.text-box {
  padding: 5px;
}

/* 1024 main2-grid-cont */

@media (max-width: 1024px) {
  .main2-grid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .main2-grid-cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 0;
    gap: 10px;
  }

  .main1-header {
    margin-top: 270px;
    text-align: center;
    margin-left: 3%;
  }

  .grid-boxes {
    display: grid;
    max-width: 658px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100px;
    gap: 5px;
    margin-left: 5px;
    margin-top: 5px;
  }

  .image-box {
    max-width: 100%;
    height: 68px;
    grid-area: 1/1/3/2;
  }

  .text-box {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    grid-area: 1/2/1/7;
  }

  .para-box {
    padding: 0;
    margin: 0;
    grid-area: 2/2/3/7;
    font-size: 0.8rem;
    color: rgb(198, 207, 214);
  }

  .para-box-latest-news {
    position: absolute;
    bottom: 15px;
    left: -20px;
  }
}

@media (max-width: 400px) {
  .main2-grid-cont .text-box {
    font-size: 12px;
  }

  .main2-grid-cont .para-box-latest-news {
    font-size: 11px;
  }
}

/* Funding */

.funding-flex {
  justify-content: center;
}

.funding-flex3 {
  width: 1260px;
  position: relative;
}

.funding {
  color: #f42;
  text-align: left;
  margin-left: 2%;
}

.funding-right {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #f42;
  margin-right: 2%;
}

.funding-flex2 {
  justify-content: center;
}

.funding-gridd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 1330px;
  gap: 20px;
  margin-left: 2%;
  margin-right: 2%;
}

.funding-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-width: 300px;
  max-height: 400px;
  background-color: silver;
  position: relative;
}

.funding-image {
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0;
  width: 70px;
  height: 70px;
}

.top1 {
  background-color: #f42;
  grid-area: 1/1/2/6;
  text-align: center;
  padding: 20px;
  margin: 0;
  max-width: 260px;
}

.price {
  background-color: pink;
  max-width: 300px;
  margin: 0;
  grid-area: 2/1/3/6;
  text-align: center;
  padding-top: 30px;
}

.under-price {
  background-color: pink;
  max-width: 300px;
  margin: 0;
  padding: 0;
  grid-area: 3/1/4/6;
  text-align: center;
}

.icon1 {
  background-color: rgb(245, 235, 239);
  max-width: 300px;
  margin: 0;
  padding-left: 15px;
  grid-area: 4/1/5/6;
  text-align: start;
  padding-top: 40px;
}

.icon2 {
  background-color: rgb(245, 235, 239);
  max-width: 300px;
  margin: 0;
  padding-left: 15px;
  grid-area: 5/1/6/6;
  text-align: start;
}

.funding-box svg {
  padding-right: 10px;
}

.under-text {
  background-color: rgb(250, 244, 247);
  max-width: 300px;
  margin: 0;
  padding: 10px;
  grid-area: 6/1/8/6;
  text-align: start;
  font-size: 0.9rem;
}

@media (max-width: 1024px) {
  .fund-dis {
    display: none;
  }

  .funding-gridd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .funding-right {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #f42;
    margin-right: 2%;
  }

  .funding-right ul li {
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
    list-style: none;
    display: inline;
  }

  .funding-right-details {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
  }
}

@media (max-width: 768px) {
  .funding-gridd {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
  }

  .funding-box {
    max-width: 100%;
    position: relative;
  }

  .funding-box p,
  .funding-box h3 {
    max-width: 100%;
    text-align: left;
    padding-left: 15px;
  }

  .funding-flex3 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .funding {
    font-size: 1.6rem;
    max-width: 100%;
    display: inline-block;
  }

  .funding-right {
    position: relative;
    display: block;
    color: #f42;
    margin-right: 2%;
  }

  .funding-right-details {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
  }

  .funding-right ul {
    width: 100%;
    text-align: left;
    margin: 3px 2% 10px 2%;
    padding: 0;
  }

  .funding-right ul li {
    display: block;
    margin: 0;
    padding: 0;
  }

  .funding-box .top1 {
    max-width: 100%;
    text-align: center;
    text-align: left;
    padding-left: 100px;
    color: white;
    font-size: 1.2rem;
  }

  .funding-box .under-price,
  .funding-box .price {
    text-align: left;
    padding-left: 100px;
  }

  .funding-box .under-price {
    padding-bottom: 10px;
  }

  .funding-box .price {
    padding-top: 10px;
  }
}

/* Popular */

.latest-news h2,
.latest-fund-round-header {
  margin-left: 10%;
  margin-right: 10%;
}

.latest-news-item,
.latest-fund-round-item {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 10%;
  margin-right: 10%;
}

.latest-news-item > div,
.latest-fund-round-item > div {
  margin-right: 10px;
}

.latest-news-item img,
.latest-fund-round-item img,
.popular-news img {
  width: 100%;
  height: 100%;
}

.latest-fund-round-header {
  display: grid;
  grid-template-columns: auto auto;
}

.popular-news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px 0 10px 5%;
}

.popular-news-items h2 {
  color: #f42;
  font-size: 28px;
  padding: 10px 0;
  margin: 0;
}

.popular-news-items {
  position: relative;
  max-width: 406px;
  margin-top: 10px;
}

.popular-news-items::after {
  content: '';
  padding-bottom: 100%;
  max-width: 100%;
}

.popular-news-items img {
  width: 400px;
  width: 100%;
  height: 276px;
}

.popular-news-items-img {
  position: relative;
}

.popular-news-items-img-desc {
  position: absolute;
  bottom: 0%;
  left: 5%;
  color: white;
}

.popular-news-items-img-desc h3 {
  margin: 0;
}

.popular-news-items-img-desc h5 {
  font-size: 12px;
}

.popular-news-items-latest {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #f0f8fa;
  position: relative;
}

.popular-news-items-latest h3 {
  margin-bottom: 3px;
  margin-left: 20px;
}

.popular-news-items-latest h5 {
  margin-top: 0;
  margin-left: 10px;
}

.popular-news-items-latest img {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 10px;
}

.popular-news-items div ul li::before {
  content: "• ";
  font-size: 20px;
  color: red;
}

@media (max-width: 1024px) {
  .popular-news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .popular-news-items {
    max-width: 100%;
    margin: 10px 3%;
  }
}

@media (max-width: 768px) {
  .popular-news {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
  }

  .popular-news-items {
    max-width: 100%;
    margin: 10px 3%;
  }
}

@media screen and (max-width: 480px) {
  .box1 img {
    max-width: 100%;
  }

  .funding-flex3 .funding {
    max-width: 100%;
  }
}

.main2-grid-cont2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 1330px;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.half-img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

.rotate-text {
  position: absolute;
  right: 5px;
  top: 30px;
  transform: rotate(45deg);
}

.image-boxx {
  width: 100%;
  height: 200px;
}

.line-throph {
  text-decoration: line-through;
}

.grid-boxess {
  max-width: 300px;
  position: relative;
}

.para-box {
  padding: 5px;
  font-size: 00.9rem;
  color: rgb(153, 165, 175);
}

footer {
  border: 1px solid black;
  text-align: center;
  background-color: #131313;
  margin-top: 20px;
}

.top-footer img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(241, 228, 228);
}

.bottom-footer {
  background-color: #000;
  padding: 20px;
  color: white;
}

/* 1024 main2-grid-cont */

@media (max-width: 1024px) {
  .main2-grid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .main2-grid-cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 0;
    gap: 10px;
  }

  .grid-boxes {
    display: grid;
    max-width: 658px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 80px;
    gap: 5px;
    margin-left: 5px;
  }

  .image-box {
    max-width: 100%;
    height: 68px;
    grid-area: 1/1/3/2;
  }

  .text-box {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    grid-area: 1/2/1/7;
  }

  .para-box {
    padding: 0;
    margin: 0;
    grid-area: 2/2/3/7;
    font-size: 0.8rem;
    color: rgb(198, 207, 214);
  }
}

@media (max-width: 768px) {
  .half-img {
    display: none;
  }

  .rotate-text {
    display: none;
  }

  .image-boxx {
    width: 100px;
    height: 80px;
  }

  .para-box {
    padding: 15px 0 0 10px;
    margin: 5px 0 0 10px;
  }

  .grid-boxes {
    position: relative;
  }

  .deals-price {
    position: absolute;
    top: -75px;
    left: -20px;
  }
}

@media (max-width: 500px) {
  .text-deals-box {
    font-size: 0.7rem;
  }

  .deals-price {
    position: absolute;
    top: -55px;
    left: -20px;
    font-size: 0.8rem;
  }
}

@media (max-width: 1024px) {
  main, .nav1, .nav2{
    overflow-x: hidden;
    min-width: 100%;
  }
}